<header>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Playlist", edit_path %></li>
	  <li><%= link_to "Search", search_path %></li>
      <li><%= link_to "Ratings", rate_path %></li>
    </ul>
  </nav>
</header>